src/conf/xml-resources/web-services/Buscador/wsdl/localhost_1234/buscador.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PBuscadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:1234/buscador?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="buscar">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="buscarResponse">
<part name="return" type="tns:DtListaBuscados"></part>
</message>
<message name="asd">
<part name="arg0" type="tns:DtTemaRemoto"></part>
<part name="arg1" type="tns:DtTemaLocal"></part>
</message>
<message name="asdResponse">
<part name="return" type="tns:DtTema"></part>
</message>
<portType name="PBuscador">
<operation name="publicar">
<input wsam:Action="http://Servicios/PBuscador/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://Servicios/PBuscador/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="buscar" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servicios/PBuscador/buscarRequest" message="tns:buscar"></input>
<output wsam:Action="http://Servicios/PBuscador/buscarResponse" message="tns:buscarResponse"></output>
</operation>
<operation name="asd" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servicios/PBuscador/asdRequest" message="tns:asd"></input>
<output wsam:Action="http://Servicios/PBuscador/asdResponse" message="tns:asdResponse"></output>
</operation>
</portType>
<binding name="PBuscadorPortBinding" type="tns:PBuscador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="buscar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="asd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
</binding>
<service name="PBuscadorService">
<port name="PBuscadorPort" binding="tns:PBuscadorPortBinding">
<soap:address location="http://localhost:1234/buscador"></soap:address>
</port>
</service>
</definitions>