src/conf/xml-resources/web-services/Lista/wsdl/localhost_1234/lista.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:complexType name="DtListaParticular">
<xs:complexContent>
<xs:extension base="tns:DtLista">
<xs:sequence>
<xs:element name="privada" type="xs:boolean"></xs:element>
<xs:element name="nickDuenio" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DtLista">
<xs:complexContent>
<xs:extension base="tns:DtBuscado">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="temas" type="tns:DtTema" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fecha" type="tns:DtFecha" minOccurs="0"></xs:element>
<xs:element name="ArrayTemas" type="tns:dtListaTema" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DtBuscado" abstract="true">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="DtTema">
<xs:complexContent>
<xs:extension base="tns:DtBuscado">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="duracion" type="tns:DtTime" minOccurs="0"></xs:element>
<xs:element name="ubicacion" type="xs:int"></xs:element>
<xs:element name="album" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="artista" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="imagenAlbum" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DtTime">
<xs:sequence>
<xs:element name="horas" type="xs:int"></xs:element>
<xs:element name="minutos" type="xs:int"></xs:element>
<xs:element name="segundos" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DtAlbum">
<xs:complexContent>
<xs:extension base="tns:DtBuscado">
<xs:sequence>
<xs:element name="nickArtista" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="anio" type="xs:int"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DtTemaLocal">
<xs:complexContent>
<xs:extension base="tns:DtTema">
<xs:sequence>
<xs:element name="directorio" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DtTemaRemoto">
<xs:complexContent>
<xs:extension base="tns:DtTema">
<xs:sequence>
<xs:element name="url" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DtFecha">
<xs:sequence>
<xs:element name="dia" type="xs:int"></xs:element>
<xs:element name="mes" type="xs:int"></xs:element>
<xs:element name="anio" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtListaTema">
<xs:sequence>
<xs:element name="DtTemas" type="tns:DtTema" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DtListaDefecto">
<xs:complexContent>
<xs:extension base="tns:DtLista">
<xs:sequence>
<xs:element name="genero" type="tns:DtGenero" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DtGenero">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="subGeneros" type="tns:DtGenero" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DtListaDeListas">
<xs:sequence>
<xs:element name="listas" type="tns:DtLista" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>