src/conf/xml-resources/web-services/Sesion/wsdl/localhost_1234/sesion.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PSesionService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:1234/sesion?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="getDataUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getDataUsuarioResponse">
<part name="return" type="tns:DtUsuario"></part>
</message>
<message name="getDataCliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getDataClienteResponse">
<part name="return" type="tns:DtCliente"></part>
</message>
<message name="esCliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="esClienteResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="chequearLogin">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="chequearLoginResponse">
<part name="return" type="xsd:string"></part>
</message>
<portType name="PSesion">
<operation name="publicar">
<input wsam:Action="http://Servicios/PSesion/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://Servicios/PSesion/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="getDataUsuario">
<input wsam:Action="http://Servicios/PSesion/getDataUsuarioRequest" message="tns:getDataUsuario"></input>
<output wsam:Action="http://Servicios/PSesion/getDataUsuarioResponse" message="tns:getDataUsuarioResponse"></output>
</operation>
<operation name="getDataCliente">
<input wsam:Action="http://Servicios/PSesion/getDataClienteRequest" message="tns:getDataCliente"></input>
<output wsam:Action="http://Servicios/PSesion/getDataClienteResponse" message="tns:getDataClienteResponse"></output>
</operation>
<operation name="esCliente">
<input wsam:Action="http://Servicios/PSesion/esClienteRequest" message="tns:esCliente"></input>
<output wsam:Action="http://Servicios/PSesion/esClienteResponse" message="tns:esClienteResponse"></output>
</operation>
<operation name="chequearLogin" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servicios/PSesion/chequearLoginRequest" message="tns:chequearLogin"></input>
<output wsam:Action="http://Servicios/PSesion/chequearLoginResponse" message="tns:chequearLoginResponse"></output>
</operation>
</portType>
<binding name="PSesionPortBinding" type="tns:PSesion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getDataUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getDataCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="esCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="chequearLogin">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
</binding>
<service name="PSesionService">
<port name="PSesionPort" binding="tns:PSesionPortBinding">
<soap:address location="http://localhost:1234/sesion"></soap:address>
</port>
</service>
</definitions>