src/conf/xml-resources/web-services/Favorito/wsdl/localhost_1234/favorito.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PFavoritoService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:1234/favorito?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="listarLisReproduccion">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarLisReproduccionResponse">
<part name="return" type="tns:dtListaDeListas"></part>
</message>
<message name="obtenerAlbumContenido">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="obtenerAlbumContenidoResponse">
<part name="return" type="tns:dtAlbumContenido"></part>
</message>
<message name="listarAlbumesArtista">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarAlbumesArtistaResponse">
<part name="return" type="tns:dtListaAlbum"></part>
</message>
<message name="listarLisReproduccionGen">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarLisReproduccionGenResponse">
<part name="return" type="tns:dtListaDeListas"></part>
</message>
<message name="agregarAlbumFav">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="agregarAlbumFavResponse"></message>
<message name="agregarTemaFav">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="agregarTemaFavResponse"></message>
<message name="agregarLDFav">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="agregarLDFavResponse"></message>
<message name="agregarLPFav">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="agregarLPFavResponse"></message>
<message name="getDataUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getDataUsuarioResponse">
<part name="return" type="tns:DtUsuario"></part>
</message>
<message name="quitarAlbumFav">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="quitarAlbumFavResponse"></message>
<message name="quitarLPFav">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="quitarLPFavResponse"></message>
<message name="quitarLDFav">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="quitarLDFavResponse"></message>
<message name="quitarTemaFav">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="quitarTemaFavResponse"></message>
<message name="asd">
<part name="arg0" type="tns:DtTema"></part>
</message>
<message name="asdResponse"></message>
<portType name="PFavorito">
<operation name="publicar">
<input wsam:Action="http://Servicios/PFavorito/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://Servicios/PFavorito/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="listarLisReproduccion">
<input wsam:Action="http://Servicios/PFavorito/listarLisReproduccionRequest" message="tns:listarLisReproduccion"></input>
<output wsam:Action="http://Servicios/PFavorito/listarLisReproduccionResponse" message="tns:listarLisReproduccionResponse"></output>
</operation>
<operation name="obtenerAlbumContenido" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servicios/PFavorito/obtenerAlbumContenidoRequest" message="tns:obtenerAlbumContenido"></input>
<output wsam:Action="http://Servicios/PFavorito/obtenerAlbumContenidoResponse" message="tns:obtenerAlbumContenidoResponse"></output>
</operation>
<operation name="listarAlbumesArtista">
<input wsam:Action="http://Servicios/PFavorito/listarAlbumesArtistaRequest" message="tns:listarAlbumesArtista"></input>
<output wsam:Action="http://Servicios/PFavorito/listarAlbumesArtistaResponse" message="tns:listarAlbumesArtistaResponse"></output>
</operation>
<operation name="listarLisReproduccionGen">
<input wsam:Action="http://Servicios/PFavorito/listarLisReproduccionGenRequest" message="tns:listarLisReproduccionGen"></input>
<output wsam:Action="http://Servicios/PFavorito/listarLisReproduccionGenResponse" message="tns:listarLisReproduccionGenResponse"></output>
</operation>
<operation name="agregarAlbumFav" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Servicios/PFavorito/agregarAlbumFavRequest" message="tns:agregarAlbumFav"></input>
<output wsam:Action="http://Servicios/PFavorito/agregarAlbumFavResponse" message="tns:agregarAlbumFavResponse"></output>
</operation>
<operation name="agregarTemaFav" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://Servicios/PFavorito/agregarTemaFavRequest" message="tns:agregarTemaFav"></input>
<output wsam:Action="http://Servicios/PFavorito/agregarTemaFavResponse" message="tns:agregarTemaFavResponse"></output>
</operation>
<operation name="agregarLDFav" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Servicios/PFavorito/agregarLDFavRequest" message="tns:agregarLDFav"></input>
<output wsam:Action="http://Servicios/PFavorito/agregarLDFavResponse" message="tns:agregarLDFavResponse"></output>
</operation>
<operation name="agregarLPFav" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Servicios/PFavorito/agregarLPFavRequest" message="tns:agregarLPFav"></input>
<output wsam:Action="http://Servicios/PFavorito/agregarLPFavResponse" message="tns:agregarLPFavResponse"></output>
</operation>
<operation name="getDataUsuario">
<input wsam:Action="http://Servicios/PFavorito/getDataUsuarioRequest" message="tns:getDataUsuario"></input>
<output wsam:Action="http://Servicios/PFavorito/getDataUsuarioResponse" message="tns:getDataUsuarioResponse"></output>
</operation>
<operation name="quitarAlbumFav" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Servicios/PFavorito/quitarAlbumFavRequest" message="tns:quitarAlbumFav"></input>
<output wsam:Action="http://Servicios/PFavorito/quitarAlbumFavResponse" message="tns:quitarAlbumFavResponse"></output>
</operation>
<operation name="quitarLPFav" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Servicios/PFavorito/quitarLPFavRequest" message="tns:quitarLPFav"></input>
<output wsam:Action="http://Servicios/PFavorito/quitarLPFavResponse" message="tns:quitarLPFavResponse"></output>
</operation>
<operation name="quitarLDFav" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Servicios/PFavorito/quitarLDFavRequest" message="tns:quitarLDFav"></input>
<output wsam:Action="http://Servicios/PFavorito/quitarLDFavResponse" message="tns:quitarLDFavResponse"></output>
</operation>
<operation name="quitarTemaFav" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://Servicios/PFavorito/quitarTemaFavRequest" message="tns:quitarTemaFav"></input>
<output wsam:Action="http://Servicios/PFavorito/quitarTemaFavResponse" message="tns:quitarTemaFavResponse"></output>
</operation>
<operation name="asd">
<input wsam:Action="http://Servicios/PFavorito/asdRequest" message="tns:asd"></input>
<output wsam:Action="http://Servicios/PFavorito/asdResponse" message="tns:asdResponse"></output>
</operation>
</portType>
<binding name="PFavoritoPortBinding" type="tns:PFavorito">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="listarLisReproduccion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="obtenerAlbumContenido">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="listarAlbumesArtista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="listarLisReproduccionGen">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="agregarAlbumFav">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="agregarTemaFav">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="agregarLDFav">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="agregarLPFav">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getDataUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="quitarAlbumFav">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="quitarLPFav">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="quitarLDFav">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="quitarTemaFav">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="asd">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
</binding>
<service name="PFavoritoService">
<port name="PFavoritoPort" binding="tns:PFavoritoPortBinding">
<soap:address location="http://localhost:1234/favorito"></soap:address>
</port>
</service>
</definitions>