src/conf/xml-resources/web-services/Inicio/wsdl/localhost_1234/inicio.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PInicioService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:1234/inicio?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="listarClientes"></message>
<message name="listarClientesResponse">
<part name="return" type="tns:DtListaUsuarios"></part>
</message>
<message name="listarSeguidosDe">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarSeguidosDeResponse">
<part name="return" type="tns:DtListaUsuarios"></part>
</message>
<message name="listarArtistas"></message>
<message name="listarArtistasResponse">
<part name="return" type="tns:DtListaUsuarios"></part>
</message>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="getDataUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getDataUsuarioResponse">
<part name="return" type="tns:DtUsuario"></part>
</message>
<message name="getDataCliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getDataClienteResponse">
<part name="return" type="tns:DtCliente"></part>
</message>
<message name="obtenerGeneros"></message>
<message name="obtenerGenerosResponse">
<part name="return" type="tns:DtListaString"></part>
</message>
<message name="chequearSuscripcion">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="chequearSuscripcionResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="DtSuscripcion">
<part name="arg0" type="tns:DtSuscripcion"></part>
</message>
<message name="DtSuscripcionResponse"></message>
<message name="cargarDatosPrueba"></message>
<message name="cargarDatosPruebaResponse"></message>
<portType name="PInicio">
<operation name="listarClientes">
<input wsam:Action="http://Servicios/PInicio/listarClientesRequest" message="tns:listarClientes"></input>
<output wsam:Action="http://Servicios/PInicio/listarClientesResponse" message="tns:listarClientesResponse"></output>
</operation>
<operation name="listarSeguidosDe">
<input wsam:Action="http://Servicios/PInicio/listarSeguidosDeRequest" message="tns:listarSeguidosDe"></input>
<output wsam:Action="http://Servicios/PInicio/listarSeguidosDeResponse" message="tns:listarSeguidosDeResponse"></output>
</operation>
<operation name="listarArtistas">
<input wsam:Action="http://Servicios/PInicio/listarArtistasRequest" message="tns:listarArtistas"></input>
<output wsam:Action="http://Servicios/PInicio/listarArtistasResponse" message="tns:listarArtistasResponse"></output>
</operation>
<operation name="publicar">
<input wsam:Action="http://Servicios/PInicio/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://Servicios/PInicio/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="getDataUsuario">
<input wsam:Action="http://Servicios/PInicio/getDataUsuarioRequest" message="tns:getDataUsuario"></input>
<output wsam:Action="http://Servicios/PInicio/getDataUsuarioResponse" message="tns:getDataUsuarioResponse"></output>
</operation>
<operation name="getDataCliente">
<input wsam:Action="http://Servicios/PInicio/getDataClienteRequest" message="tns:getDataCliente"></input>
<output wsam:Action="http://Servicios/PInicio/getDataClienteResponse" message="tns:getDataClienteResponse"></output>
</operation>
<operation name="obtenerGeneros">
<input wsam:Action="http://Servicios/PInicio/obtenerGenerosRequest" message="tns:obtenerGeneros"></input>
<output wsam:Action="http://Servicios/PInicio/obtenerGenerosResponse" message="tns:obtenerGenerosResponse"></output>
</operation>
<operation name="chequearSuscripcion">
<input wsam:Action="http://Servicios/PInicio/chequearSuscripcionRequest" message="tns:chequearSuscripcion"></input>
<output wsam:Action="http://Servicios/PInicio/chequearSuscripcionResponse" message="tns:chequearSuscripcionResponse"></output>
</operation>
<operation name="DtSuscripcion">
<input wsam:Action="http://Servicios/PInicio/DtSuscripcionRequest" message="tns:DtSuscripcion"></input>
<output wsam:Action="http://Servicios/PInicio/DtSuscripcionResponse" message="tns:DtSuscripcionResponse"></output>
</operation>
<operation name="cargarDatosPrueba">
<input wsam:Action="http://Servicios/PInicio/cargarDatosPruebaRequest" message="tns:cargarDatosPrueba"></input>
<output wsam:Action="http://Servicios/PInicio/cargarDatosPruebaResponse" message="tns:cargarDatosPruebaResponse"></output>
</operation>
</portType>
<binding name="PInicioPortBinding" type="tns:PInicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="listarClientes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="listarSeguidosDe">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="listarArtistas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getDataUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getDataCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="obtenerGeneros">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="chequearSuscripcion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="DtSuscripcion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="cargarDatosPrueba">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
</binding>
<service name="PInicioService">
<port name="PInicioPort" binding="tns:PInicioPortBinding">
<soap:address location="http://localhost:1234/inicio"></soap:address>
</port>
</service>
</definitions>