src/conf/xml-resources/web-services/Uploadfile/wsdl/localhost_1234/uploadfile.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PUploadfileService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:1234/uploadfile?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="Uploadfile">
<part name="arg0" type="xsd:base64Binary"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="UploadfileResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<portType name="PUploadfile">
<operation name="publicar">
<input wsam:Action="http://Servicios/PUploadfile/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://Servicios/PUploadfile/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="Uploadfile" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Servicios/PUploadfile/UploadfileRequest" message="tns:Uploadfile"></input>
<output wsam:Action="http://Servicios/PUploadfile/UploadfileResponse" message="tns:UploadfileResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/PUploadfile/Uploadfile/Fault/Exception"></fault>
</operation>
</portType>
<binding name="PUploadfilePortBinding" type="tns:PUploadfile">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="Uploadfile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PUploadfileService">
<port name="PUploadfilePort" binding="tns:PUploadfilePortBinding">
<soap:address location="http://localhost:1234/uploadfile"></soap:address>
</port>
</service>
</definitions>