src/conf/xml-resources/web-services/ConsultaPerfil/wsdl/localhost_1234/consultaPerfil.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PConsultaPerfilService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:1234/consultaPerfil?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="obtenerPerfilCliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="obtenerPerfilClienteResponse">
<part name="return" type="tns:DtPerfilCliente"></part>
</message>
<message name="obtenerPerfilArtista">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="obtenerPerfilArtistaResponse">
<part name="return" type="tns:DtPerfilArtista"></part>
</message>
<message name="getDataUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getDataUsuarioResponse">
<part name="return" type="tns:DtUsuario"></part>
</message>
<message name="SoapSeviciosFaultException">
<part name="fault" element="tns:SoapSeviciosFaultException"></part>
</message>
<portType name="PConsultaPerfil">
<operation name="publicar">
<input wsam:Action="http://Servicios/PConsultaPerfil/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://Servicios/PConsultaPerfil/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="obtenerPerfilCliente">
<input wsam:Action="http://Servicios/PConsultaPerfil/obtenerPerfilClienteRequest" message="tns:obtenerPerfilCliente"></input>
<output wsam:Action="http://Servicios/PConsultaPerfil/obtenerPerfilClienteResponse" message="tns:obtenerPerfilClienteResponse"></output>
</operation>
<operation name="obtenerPerfilArtista">
<input wsam:Action="http://Servicios/PConsultaPerfil/obtenerPerfilArtistaRequest" message="tns:obtenerPerfilArtista"></input>
<output wsam:Action="http://Servicios/PConsultaPerfil/obtenerPerfilArtistaResponse" message="tns:obtenerPerfilArtistaResponse"></output>
</operation>
<operation name="getDataUsuario">
<input wsam:Action="http://Servicios/PConsultaPerfil/getDataUsuarioRequest" message="tns:getDataUsuario"></input>
<output wsam:Action="http://Servicios/PConsultaPerfil/getDataUsuarioResponse" message="tns:getDataUsuarioResponse"></output>
<fault message="tns:SoapSeviciosFaultException" name="SoapSeviciosFaultException" wsam:Action="http://Servicios/PConsultaPerfil/getDataUsuario/Fault/SoapSeviciosFaultException"></fault>
</operation>
</portType>
<binding name="PConsultaPerfilPortBinding" type="tns:PConsultaPerfil">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="obtenerPerfilCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="obtenerPerfilArtista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getDataUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="SoapSeviciosFaultException">
<soap:fault name="SoapSeviciosFaultException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PConsultaPerfilService">
<port name="PConsultaPerfilPort" binding="tns:PConsultaPerfilPortBinding">
<soap:address location="http://localhost:1234/consultaPerfil"></soap:address>
</port>
</service>
</definitions>