src/conf/xml-resources/web-services/ConsultaPerfil/wsdl/localhost_1234/consultaPerfil.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:complexType name="DtPerfilArtista">
<xs:complexContent>
<xs:extension base="tns:dtPerfilUsuario">
<xs:sequence>
<xs:element name="albumes" type="tns:DtAlbum" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="web" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="biografia" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dtPerfilUsuario">
<xs:sequence>
<xs:element name="info" type="tns:DtUsuario" minOccurs="0"></xs:element>
<xs:element name="seguidores" type="tns:DtCliente" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DtAlbum">
<xs:sequence>
<xs:element name="nickArtista" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="anio" type="xs:int"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DtUsuario">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaNac" type="tns:dtFecha" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="contrasenia" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtFecha">
<xs:sequence>
<xs:element name="dia" type="xs:int"></xs:element>
<xs:element name="mes" type="xs:int"></xs:element>
<xs:element name="anio" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DtCliente">
<xs:complexContent>
<xs:extension base="tns:DtUsuario">
<xs:sequence>
<xs:element name="suscripciones" type="tns:DtSuscripcion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="actual" type="tns:DtSuscripcion" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DtSuscripcion">
<xs:sequence>
<xs:element name="estado" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="cuota" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fecha_venc" type="tns:dtFecha" minOccurs="0"></xs:element>
<xs:element name="fecha" type="tns:dtFecha" minOccurs="0"></xs:element>
<xs:element name="monto" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DtArtista">
<xs:complexContent>
<xs:extension base="tns:DtUsuario">
<xs:sequence>
<xs:element name="biografia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="web" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DtPerfilCliente">
<xs:complexContent>
<xs:extension base="tns:dtPerfilUsuario">
<xs:sequence>
<xs:element name="seguidos" type="tns:DtUsuario" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="listasCreadas" type="tns:DtListaParticular" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="albumes" type="tns:DtAlbum" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="listasFavoritas" type="tns:DtLista" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="temas" type="tns:DtTema" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DtListaParticular">
<xs:complexContent>
<xs:extension base="tns:DtLista">
<xs:sequence>
<xs:element name="privada" type="xs:boolean"></xs:element>
<xs:element name="nickDuenio" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DtLista">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="temas" type="tns:DtTema" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fecha" type="tns:dtFecha" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DtTema">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="duracion" type="tns:DtTime" minOccurs="0"></xs:element>
<xs:element name="ubicacion" type="xs:int"></xs:element>
<xs:element name="album" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="artista" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="imagenAlbum" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DtTime">
<xs:sequence>
<xs:element name="horas" type="xs:int"></xs:element>
<xs:element name="minutos" type="xs:int"></xs:element>
<xs:element name="segundos" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DtListaDefecto">
<xs:complexContent>
<xs:extension base="tns:DtLista">
<xs:sequence>
<xs:element name="genero" type="tns:DtGenero" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="DtGenero">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="subGeneros" type="tns:DtGenero" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>