src/conf/xml-resources/web-services/Suscripcion/wsdl/localhost_1234/suscripcion.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PSuscripcionService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:1234/suscripcion?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="renovarSuscripcion">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
<part name="arg5" type="tns:DtFecha"></part>
</message>
<message name="renovarSuscripcionResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="ingresarSuscripcion">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="ingresarSuscripcionResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="cancelarSuscripcion">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
<part name="arg5" type="tns:DtFecha"></part>
</message>
<message name="cancelarSuscripcionResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="DtCliente">
<part name="arg0" type="tns:DtCliente"></part>
</message>
<message name="DtClienteResponse"></message>
<message name="DtArtista">
<part name="arg0" type="tns:DtArtista"></part>
</message>
<message name="DtArtistaResponse"></message>
<message name="getDataUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getDataUsuarioResponse">
<part name="return" type="tns:DtUsuario"></part>
</message>
<message name="getMonto">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getMontoResponse">
<part name="return" type="xsd:int"></part>
</message>
<portType name="PSuscripcion">
<operation name="publicar">
<input wsam:Action="http://Servicios/PSuscripcion/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://Servicios/PSuscripcion/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="renovarSuscripcion" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input wsam:Action="http://Servicios/PSuscripcion/renovarSuscripcionRequest" message="tns:renovarSuscripcion"></input>
<output wsam:Action="http://Servicios/PSuscripcion/renovarSuscripcionResponse" message="tns:renovarSuscripcionResponse"></output>
</operation>
<operation name="ingresarSuscripcion" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servicios/PSuscripcion/ingresarSuscripcionRequest" message="tns:ingresarSuscripcion"></input>
<output wsam:Action="http://Servicios/PSuscripcion/ingresarSuscripcionResponse" message="tns:ingresarSuscripcionResponse"></output>
</operation>
<operation name="cancelarSuscripcion" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input wsam:Action="http://Servicios/PSuscripcion/cancelarSuscripcionRequest" message="tns:cancelarSuscripcion"></input>
<output wsam:Action="http://Servicios/PSuscripcion/cancelarSuscripcionResponse" message="tns:cancelarSuscripcionResponse"></output>
</operation>
<operation name="DtCliente">
<input wsam:Action="http://Servicios/PSuscripcion/DtClienteRequest" message="tns:DtCliente"></input>
<output wsam:Action="http://Servicios/PSuscripcion/DtClienteResponse" message="tns:DtClienteResponse"></output>
</operation>
<operation name="DtArtista">
<input wsam:Action="http://Servicios/PSuscripcion/DtArtistaRequest" message="tns:DtArtista"></input>
<output wsam:Action="http://Servicios/PSuscripcion/DtArtistaResponse" message="tns:DtArtistaResponse"></output>
</operation>
<operation name="getDataUsuario">
<input wsam:Action="http://Servicios/PSuscripcion/getDataUsuarioRequest" message="tns:getDataUsuario"></input>
<output wsam:Action="http://Servicios/PSuscripcion/getDataUsuarioResponse" message="tns:getDataUsuarioResponse"></output>
</operation>
<operation name="getMonto">
<input wsam:Action="http://Servicios/PSuscripcion/getMontoRequest" message="tns:getMonto"></input>
<output wsam:Action="http://Servicios/PSuscripcion/getMontoResponse" message="tns:getMontoResponse"></output>
</operation>
</portType>
<binding name="PSuscripcionPortBinding" type="tns:PSuscripcion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="renovarSuscripcion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="ingresarSuscripcion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="cancelarSuscripcion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="DtCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="DtArtista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getDataUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getMonto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
</binding>
<service name="PSuscripcionService">
<port name="PSuscripcionPort" binding="tns:PSuscripcionPortBinding">
<soap:address location="http://localhost:1234/suscripcion"></soap:address>
</port>
</service>
</definitions>