src/conf/xml-resources/web-services/Seguir/wsdl/localhost_1234/seguir.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PSeguirService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:1234/seguir?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="dejarSeguirUsuario">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="dejarSeguirUsuarioResponse"></message>
<message name="seguirUsuario">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="seguirUsuarioResponse"></message>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="getDataUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getDataUsuarioResponse">
<part name="return" type="tns:DtUsuario"></part>
</message>
<portType name="PSeguir">
<operation name="dejarSeguirUsuario" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servicios/PSeguir/dejarSeguirUsuarioRequest" message="tns:dejarSeguirUsuario"></input>
<output wsam:Action="http://Servicios/PSeguir/dejarSeguirUsuarioResponse" message="tns:dejarSeguirUsuarioResponse"></output>
</operation>
<operation name="seguirUsuario" parameterOrder="arg0 arg1">
<input wsam:Action="http://Servicios/PSeguir/seguirUsuarioRequest" message="tns:seguirUsuario"></input>
<output wsam:Action="http://Servicios/PSeguir/seguirUsuarioResponse" message="tns:seguirUsuarioResponse"></output>
</operation>
<operation name="publicar">
<input wsam:Action="http://Servicios/PSeguir/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://Servicios/PSeguir/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="getDataUsuario">
<input wsam:Action="http://Servicios/PSeguir/getDataUsuarioRequest" message="tns:getDataUsuario"></input>
<output wsam:Action="http://Servicios/PSeguir/getDataUsuarioResponse" message="tns:getDataUsuarioResponse"></output>
</operation>
</portType>
<binding name="PSeguirPortBinding" type="tns:PSeguir">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="dejarSeguirUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="seguirUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getDataUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
</binding>
<service name="PSeguirService">
<port name="PSeguirPort" binding="tns:PSeguirPortBinding">
<soap:address location="http://localhost:1234/seguir"></soap:address>
</port>
</service>
</definitions>