src/conf/xml-resources/web-services/Registro/wsdl/localhost_1234/registro.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PRegistroService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:1234/registro?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="ingresarUsuario">
<part name="arg0" type="tns:dtUsuario"></part>
</message>
<message name="ingresarUsuarioResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="correoExiste">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="correoExisteResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="nicknameExiste">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="nicknameExisteResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="getDataUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getDataUsuarioResponse">
<part name="return" type="tns:dtUsuario"></part>
</message>
<message name="DtCliente">
<part name="arg0" type="tns:dtCliente"></part>
</message>
<message name="DtClienteResponse"></message>
<message name="DtArtista">
<part name="arg0" type="tns:dtArtista"></part>
</message>
<message name="DtArtistaResponse"></message>
<portType name="PRegistro">
<operation name="ingresarUsuario">
<input wsam:Action="http://Servicios/PRegistro/ingresarUsuarioRequest" message="tns:ingresarUsuario"></input>
<output wsam:Action="http://Servicios/PRegistro/ingresarUsuarioResponse" message="tns:ingresarUsuarioResponse"></output>
</operation>
<operation name="publicar">
<input wsam:Action="http://Servicios/PRegistro/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://Servicios/PRegistro/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="correoExiste">
<input wsam:Action="http://Servicios/PRegistro/correoExisteRequest" message="tns:correoExiste"></input>
<output wsam:Action="http://Servicios/PRegistro/correoExisteResponse" message="tns:correoExisteResponse"></output>
</operation>
<operation name="nicknameExiste">
<input wsam:Action="http://Servicios/PRegistro/nicknameExisteRequest" message="tns:nicknameExiste"></input>
<output wsam:Action="http://Servicios/PRegistro/nicknameExisteResponse" message="tns:nicknameExisteResponse"></output>
</operation>
<operation name="getDataUsuario">
<input wsam:Action="http://Servicios/PRegistro/getDataUsuarioRequest" message="tns:getDataUsuario"></input>
<output wsam:Action="http://Servicios/PRegistro/getDataUsuarioResponse" message="tns:getDataUsuarioResponse"></output>
</operation>
<operation name="DtCliente">
<input wsam:Action="http://Servicios/PRegistro/DtClienteRequest" message="tns:DtCliente"></input>
<output wsam:Action="http://Servicios/PRegistro/DtClienteResponse" message="tns:DtClienteResponse"></output>
</operation>
<operation name="DtArtista">
<input wsam:Action="http://Servicios/PRegistro/DtArtistaRequest" message="tns:DtArtista"></input>
<output wsam:Action="http://Servicios/PRegistro/DtArtistaResponse" message="tns:DtArtistaResponse"></output>
</operation>
</portType>
<binding name="PRegistroPortBinding" type="tns:PRegistro">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="ingresarUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="correoExiste">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="nicknameExiste">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getDataUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="DtCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="DtArtista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
</binding>
<service name="PRegistroService">
<port name="PRegistroPort" binding="tns:PRegistroPortBinding">
<soap:address location="http://localhost:1234/registro"></soap:address>
</port>
</service>
</definitions>