src/conf/xml-resources/web-services/Tema/wsdl/localhost_1234/tema.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PTemaService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:1234/tema?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="publicar"></message>
<message name="publicarResponse"></message>
<message name="getAudio">
<part name="audio" type="xsd:string"></part>
</message>
<message name="getAudioResponse">
<part name="return" type="xsd:base64Binary"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<portType name="PTema">
<operation name="publicar">
<input wsam:Action="http://Servicios/PTema/publicarRequest" message="tns:publicar"></input>
<output wsam:Action="http://Servicios/PTema/publicarResponse" message="tns:publicarResponse"></output>
</operation>
<operation name="getAudio">
<input wsam:Action="http://Servicios/PTema/getAudioRequest" message="tns:getAudio"></input>
<output wsam:Action="http://Servicios/PTema/getAudioResponse" message="tns:getAudioResponse"></output>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Servicios/PTema/getAudio/Fault/Exception"></fault>
</operation>
</portType>
<binding name="PTemaPortBinding" type="tns:PTema">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="publicar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
</operation>
<operation name="getAudio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Servicios/"></soap:body>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PTemaService">
<port name="PTemaPort" binding="tns:PTemaPortBinding">
<soap:address location="http://localhost:1234/tema"></soap:address>
</port>
</service>
</definitions>